@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
html {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #000;
}

.App {
    text-align: center;
    overflow: hidden;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 20px;
    margin: 0;
    margin-top: 10px;
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.219);
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 5px;
    padding-left: 32px;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    font-style: italic;
    margin: 0;
    padding: 0;
    padding-left: 32px;
}

p {
    font-family: 'Open Sans', sans-serif;
}


/* width */

::-webkit-scrollbar {
    width: 15px;
    position: absolute;
}


/* Track */


/* 
::-webkit-scrollbar-track {
    background: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
} */


/* Handle */

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
    border: none;
}

.recipe-cards {
    margin: auto;
    margin-top: 30px;
    padding: 10px;
    height: 60vh;
    width: max-content;
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 20px;
    row-gap: 20px;
    justify-items: left;
    overflow: scroll;
    overflow-x: hidden;
}

#recipe-count {
    text-align: left;
    padding: 0;
    margin: 0;
    margin-left: 20vw;
    left: 20vw;
}

#no-result {
    position: absolute;
    margin: 0;
    padding: 0;
    margin-top: 10vh;
    text-align: center;
    justify-self: center;
}

#no-result h3 {
    color: #282828;
    font-weight: 600;
    font-size: 42px;
    margin: 0;
    padding: 0;
}

#no-result h4 {
    color: #28282879;
    font-weight: 300;
    font-style: italic;
    font-size: 28px;
    margin: 0;
    padding: 0;
    margin-top: 20px;
}